.main, .left, .right, .center, .img {
    border: 1px solid #999;
    box-sizing: border-box;
}
.main {
    background: #eee;
    padding: 20px 140px 20px 220px;
}
.main:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
    clear: both;
}
.left {
    background: #fff;
    width: 200px;
    float: left;
    padding: 20px;
    margin-left: -100%;
    position: relative;
    left: -200px;
}
.left:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
    clear: both;
}
.left .img {
    float: left;
}
.left h6 {
    margin: 0 0 0 100px;
}
.right {
    background: #fff;
    width: 120px;
    padding: 20px 20px 0 20px;
    float: left;
    margin-left: -120px;
    position: relative;
    right: -120px;
}
.right ul {
    margin: 0;
    padding: 0;
}
.right li {
    list-style: none;
    margin-bottom: 20px;
}
.img {
    background: #eee;
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 20px 0;
}
.center {
    background: #fff;
    float: left;
    margin: 0 20px;
}