*{
    box-sizing: border-box;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: "黑体";
    font-size: 12px;
}
header {
    background: #2289bf;
    height: 56px;
}
.main {
    width: 1280px;
    height: 1210px;
    margin: 0 auto;
}
.left {
    float: left;
    width: 260px;
    height: 100%;
    background: #2a2e3d;
    padding: 18px 0;
    color: #6e8095;
}
.right {
    margin-left: 260px;
    background: #eeeeed;
    height: 100%;
}
.wrapper {
    width: 1280px;
    height: 56px;
    margin: 0 auto;
    padding-top: 10px;
}
.logo {
    width: 36px;
    height: 36px;
    margin-left: 50px;
    background: url("../task_1_9_1-assets/logo.png") no-repeat top left;
    display: inline-block;
}
.logon {
    float: right;
    margin: 10px 92px 0 20px;
    padding-left: 20px;
    background: url("../task_1_9_1-assets/log-icon.png") no-repeat left bottom;
    color: #fff;
    font-size: 12px;
    height: 16px;
    line-height: 18px;
}
.search-input {
    width: 316px;
    height: 28px;
    background: #fff url("../task_1_9_1-assets/search-icon.png") no-repeat 16px 6px;
    border-radius: 28px;
    border: none;
    float: right;
    margin-top: 5px;
}
.person {
    color: #fff;
    font-size: 16px;
    height: 56px;
    line-height: 56px;
    margin-left: 44px;
}
.avatar {
    background: #b9babe;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #2a2e3d, 0 0 0 5px #b9babe;
    margin: 5px;
    float: left;
}
.name {
    margin-left: 74px;
}
.num-block {
    margin: 25px 0 25px 30px;
    font-size: 16px;
    line-height: 18px;
    display: flex;
}
.num-block li {
    width: 90px;
    height: 30px;
    line-height: 12px;
    padding: 0 30px;
}
.num-block li:first-child {
    border-right: 2px solid #313545;
}
.num-block span{
    font-size: 12px;
}
.icon-file {
    background: url("../task_1_9_1-assets/icon-file.png") no-repeat top left;
    margin-right: 12px;
    width: 12px;
    height: 12px;
    display: inline-block;
}
.icon-file2 {
    background: url("../task_1_9_1-assets/icon-file2.png") no-repeat top left;
    margin-right: 12px;
    width: 12px;
    height: 12px;
    display: inline-block;
}
.menu-block2.active .icon-file2 {
    background: url("../task_1_9_1-assets/file2-active.png") no-repeat top left;
}
.icon-file3 {
    background: url("../task_1_9_1-assets/icon-file3.png") no-repeat top left;
    margin-right: 4px;
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}
.menu-block2.active .icon-file3 {
    background: url("../task_1_9_1-assets/file3-active.png") no-repeat top left;
}
.icon-star {
    background: url("../task_1_9_1-assets/icon-star.png") no-repeat top left;
    margin-right: 12px;
    width: 12px;
    height: 12px;
    display: inline-block;
}
.icon-share {
    background: url("../task_1_9_1-assets/icon-share.png") no-repeat top left;
    margin-right: 12px;
    width: 12px;
    height: 12px;
    display: inline-block;
}
.icon-account {
    background: url("../task_1_9_1-assets/icon-account.png") no-repeat top left;
    margin-right: 12px;
    width: 12px;
    height: 12px;
    display: inline-block;
}
.arrow {
    background: url("../task_1_9_1-assets/right-arrow.png") no-repeat top center;
    margin-right: 10px;
    width: 11px;
    height: 12px;
    display: inline-block;
}
.menu-block2.active .arrow {
    background: url("../task_1_9_1-assets/down-arrow.png") no-repeat top center;
}
.menu {
    font-size: 12px;
}
.menu-block {
    padding: 14px 0 14px 44px;
}
.menu-block2 {
    margin-top: 16px;
}
.menu-second {
    padding-left: 24px;
}
.menu-third {
    margin-top: 16px;
    padding-left: 58px;
}
.menu-block.active {
    background: #383d4e;
}
.menu-block.active .menu-first,
.menu-block2.active .menu-second, 
.menu-sub2.active .menu-third{
    color: #ededef;
}
.thumbnail {
    background: #fff;
    padding-left: 30px;
    height: 32px;
    line-height: 32px;
    color: #aaaaaa;
    font-size: 12px;
}
.thumbnail a {
    color: #aaaaaa;
}
.thumbnail .current {
    color: #6898c2;
}
.container {
    padding: 20px 70px 0 60px;
}
.search-block {
    background: #fff;
    width: 890px;
    height: 85px;
    border: 1px solid #dcdedf;
    padding: 15px 0;
    color: #aaaaaa;
}
.search-item {
    float: left;
    margin-left: 30px;
}
.search-item select {
    font-size: 12px;
    width: 70px;
    height: 22px;
    padding-left: 10px;
    background: url("../task_1_9_1-assets/select-arrow.png") no-repeat;
    background-position: 90% 8px;
    -webkit-appearance: none;
    border: 1px solid #ddd;
}
.search-item input[type="text"] {
    font-size: 12px;
    width: 120px;
    height: 22px;
    padding-left: 10px;
    border: 1px solid #ddd;
}
.item-row {
    margin-bottom: 6px;
}
.change-item {
    margin-left: 38px;
}
.change-item .item-row {
    margin-right: 38px;
}
.btn-change {
    float: right;
    background: url("../task_1_9_1-assets/btn-change.png") no-repeat top left;
    width: 28px;
    height: 38px;
    margin-top: 5px;
}
.change-item select {
    width: 120px;
}
.item-row .wide-select {
    width: 120px;
}
.btn-search {
    background: #388ac1;
    color: #fff;
    width: 50px;
    height: 24px;
    line-height: 24px;
    -webkit-appearance: none;
    border: 1px solid #ddd;
    margin-top: 16px;
}
.time-report {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    font-family: "微软雅黑";
}
.left-btn {
    width: 30px;
    height: 64px;
    background: #fff url("../task_1_9_1-assets/left-btn.png") no-repeat center center;
    border-top: 1px solid #dadcde;
    border-left: 1px solid #dadcde;
}
.right-btn {
    width: 30px;
    height: 64px;
    background: #fff url("../task_1_9_1-assets/right-btn.png") no-repeat center center;
    border-top: 1px solid #dadcde;
    border-left: 1px solid #dadcde;
}
.time-list {
    display: flex;
    width: 686px;
    justify-content: space-between;
}
.time-item {
    background: #fff;
    width: 112px;
    height: 64px;
    border-top: 1px solid #dadcde;
    border-left: 1px solid #dadcde;
    text-align: center;
    padding: 12px 0;
}
.time-item.current {
    border-top: 2px solid #4288c8;
}
.time-item .time {
    color: #323333;
}
.time-item .unit {
    color: #aeaead;
    font-size: 16px;
}
.time-item .mount {
    color: #ec6500;
    font-size: 21px;
    margin-top: 2px;
}
.time-history {
    width: 130px;
    height: 64px;
    color: #535353;
    padding: 24px 0 0 64px;
    background: #fff url("../task_1_9_1-assets/time-icon.png") no-repeat 14px 18px;
    border-top: 1px solid #dadcde;
    border-left: 1px solid #dadcde;
}
.month-report {
    margin-top: 20px;
}
.month-report h5 {
    color: #323333;
    margin: 0 0 2px 0;
    font-size: 12px;
}
.month-list {
    width: 890px;
    height: 72px;
    display: flex;
    justify-content: space-between;
}
.month-item {
    width: 200px;
    height: 72px;
    background: #fff;
    font-size: 10px;
    color: #aaaaaa;
    padding: 18px 17px 12px 10px;
    border: 1px solid #e5e6e6;
    position: relative;
}
.month-item .count {
    font-size: 12px;
    margin-bottom: 10px;
    color: #323333;
}
.month-item.green {
    border-left: 2px solid #43b29e;
}
.month-item.blue {
    border-left: 2px solid #388bc2;
}
.month-item.red {
    border-left: 2px solid #cf4a36;
}
.month-item.yellow {
    border-left: 2px solid #e2cd47;
}
.month-item.green .color-block {
    background: #43b29e;
}
.month-item.blue .color-block {
    background: #388bc2;
}
.month-item.red .color-block {
    background: #cf4a36;
}
.month-item.yellow .color-block {
    background: #e2cd47;
}
.month-item .color-block {
    width: 60px;
    height: 46px;
    position: absolute;
    right: 16px;
    top: 12px;
}
.panel {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #cbcbcb;
    width: 350px;
}
.panel.large {
    width: 532px;
}
.panel-title {
    background: #f4f5f6;
    color: #aaaaaa;
    border-bottom: 1px solid #e7e9eb;
    height: 42px;
    line-height: 42px;
    padding-left: 18px;
    border-radius: 10px 10px 0 0;
}
.panel-block {
    margin-top: 16px;
}
.panel-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.tab-block {
    margin: 12px 20px 24px 20px;
    position: relative;
}
.tab-item {
    float: left;
    margin-right: 5px;
}
.tab-label {
    width: 86px;
    height: 27px;
    line-height: 27px;
    background: #ededf0;
    color: #535353;
    text-align: center;
    display: block;
    border-radius: 3px 3px 0 0;
}
.tab-item input {
    display: none;
}
.tab-content {
    width: 490px;
    border: 1px solid #cbcbcb;
    padding: 30px 50px 36px 36px;
    border-radius: 0 3px 3px 3px;
    position: absolute;
    display: none;
    top: 27px;
    left: 0;
}
.tab-item input[type="radio"]:checked~.tab-label {
    border: 1px solid #cbcbcb;
    border-bottom: none;
    background: #fff;
    position: relative;
    height: 28px;
    z-index: 1;
}
.tab-item input[type="radio"]:checked~.tab-content {
    display: block;
}
.tab-content table {
    border-collapse: collapse;
    color: #535353;
}
.tab-content td {
    border: 1px solid #dddddd;
    width: 100px;
    height: 28px;
    text-align: center;
}
.first-td {
    background: #f4f5f7;
}
.project {
    margin: 16px 34px 38px; 
}
.project label {
    color: #c3c2c2;
    padding-left: 15px;
    margin-bottom: 6px;
    margin-top: 4px;
    display: block;
}
.project .content {
    color: #535353;
    padding-left: 15px;
    margin-bottom: 8px;
}
.project ul {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
}
.project li:first-child {
    border-right: 1px solid #e7e7e7;
    width: 94px;
    height: 44px;
}
.detail {
    height: 122px;
}
.project-bottom {
    border-top: 1px solid #e7e7e7;
}
.project-bottom label {
    margin-right: 52px;
    margin-top: 12px;
    color: #c3c2c2;
}
.project-bottom label input {
    vertical-align: middle;
}
.search-btn {
    float: right;
    width: 52px;
    height: 26px;
    line-height: 26px;
    margin-top: 6px;
    background: #388ac1;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}
.progress-bar {
    width: 168px;
    height: 4px;
    background: #dddcdd;
    display: inline-block;
}
.percent {
    height: 4px;
}
.car-table {
    margin: 18px 40px;
    border-collapse: collapse;
    cursor: pointer;
    width: 450px;
}
.car-table th, 
.car-table td {
    height: 26px;
    line-height: 26px;
    border: 1px solid #c6c7c7;
} 
.car-table th {
    font-size: 13px;
    color: #231815;
}
.car-table td {
    color: #323333;
    text-align: center;
}
.car-table td:nth-child(1) {
    width: 68px;
}
.car-table td:nth-child(2) {
    width: 90px;
}
.percent.orange {
    background: #ed6e52;
}
.percent.yellow {
    background: #f19e4f;
}
.percent.blue {
    background: #7ecaf0;
}
.calendar-block {
    margin: 10px 20px;
}
.select-item {
    height: 22px;
    line-height: 22px;
    border: 1px solid #cacbcb;
    display: inline-block;
    width: 72px;
    text-align: center;
}
.select-item input {
    border: none;
    width: 50px;
    padding-left: 6px;
}
.select-item .select-down {
    width: 20px;
    height: 20px;
    background: url("../task_1_9_1-assets/select-down.png") no-repeat top left;
    float: right;
}
.week {
    margin-top: 9px;
    border-top: 1px solid #a9cfec;
    border-bottom: 1px solid #e1e1e2;
    overflow: hidden;
}
.week li {
    float: left;
    width: 42px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.calendar {
    text-align: center;
}
.calendar td {
    width: 40px;
    height: 42px;
    font-size: 11px;
    color: #323333;
}
.calendar span {
    display: block;
}
.calendar .mark {
    border: 1px solid #f7d564;
}
.calendar .holiday {
    color: #c9161d;
}
.calendar .weekend {
    color: #c9161d;
}