body{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 14px;
    min-width: 1162px;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
header {
    height: 57px;
}
header .wrapper {
    width: 1162px;
    margin: 0 auto;
}
div, p, span, a, input {
    box-sizing: border-box;
}
.logo {
    background: url("../task_7/logo.png") no-repeat left center;
    padding-left: 42px;
    font-size: 21px;
    font-family: "黑体";
    height: 57px;
    line-height: 57px;
    color: #393a3a;
    display: inline-block;
}
.right {
    float: right;
}
.nav {
    overflow: hidden;
    float: right;
}
.nav li {
    float: left;
}
.nav li a {
    display: block;
    height: 57px;
    line-height: 57px;
    font-size: 14px;
    color: #787b83;
    padding: 0 20px;
}
.nav .active {
    color: #e74f4d;
    border-bottom: 5px solid #e74f4d;
}
.login-btn {
    float: right;
    color: #e74f4d;
    padding-left: 20px;
    background: url("../task_7-assets/avatar.png") no-repeat left center;
    height: 57px;
    line-height: 57px;
    margin-left: 10px;
}
.banner {
    background: url("../task_7-assets/banner.png") no-repeat left top;
    width: 100%;
    background-size: cover;
    height: 690px;
}
.banner .layout {
    background: rgba(0, 0, 0, .2);
    height: 690px;
}
.banner .wrapper {
    width: 1162px;
    margin: 0 auto;
    padding: 216px 0 0 70px;
    color: #fff;
}
.banner h1 {
    font-size: 60px;
    font-weight: normal;
    margin: 0;
}
.banner h5 {
    font-size: 21px;
    font-weight: normal;
    margin: 10px 0 0 0;
    line-height: 1.5;
}
.banner .active-btn {
    font-size: 30px;
    background: #e7504d;
    text-align: center;
    width: 328px;
    height: 64px;
    line-height: 64px;
    margin-top: 65px;
}
.intro-list {
    margin-top: 46px;
    overflow: hidden;
}
.intro-list li {
    width: 25%;
    float: left;
    padding-top: 88px;
    text-align: center;
}
.intro-list .circle {
    background: url("../task_7-assets/circle.png") no-repeat top center;
}
.intro-list .flag {
    background: url("../task_7-assets/flag.png") no-repeat top center;
}
.intro-list .flower {
    background: url("../task_7-assets/flower.png") no-repeat top center;
}
.intro-list .square {
    background: url("../task_7-assets/square.png") no-repeat top center;
}
.intro-list .intro-info {
    border-right: 2px solid #bbbbbb;
    height: 52px;
    color: #767777;
    font-size: 14px;
}
.intro-list li:last-child .intro-info {
    border-right: none;
}
.what {
    margin-top: 66px;
    background: #edecec url("../task_7-assets/book.png") no-repeat center 90px;
    height: 360px;
    padding-top: 220px;
}
.what h1 {
    color: #a1a1a1;
    font-size: 54px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}
.search-block {
    background: url("../task_7-assets/map.png") no-repeat top left;
    background-size: cover;
    width: 100%;
    height: 340px;
}
.search-block .layout {
    background: rgba(170, 52, 51, .2);
    color: #fff;
    text-align: center;
    padding-top: 50px;
    height: 340px;
}
.search-block h5 {
    margin: 0;
    font-size: 21px;
}
.divider {
    background: #fff;
    width: 31px;
    height: 2px;
    margin: 8px auto 14px;
}
.search-block .select-block {
    margin: 50px auto 0;
    width: 1031px;
    display: flex;
    justify-content: space-between;
}
.select-item {
    width: 238px; 
    overflow: hidden;  
}
.select-item input {
    width: 238px;
    height: 36px;
    padding: 10px 8px;
    color: #a8aaaa;
    font-size: 12px;
    background: #fff url("../task_7-assets/select-arrow.png") no-repeat 210px 10px;
    border: none;
}
.search-btn {
    width: 236px;
    height: 36px;
    background: #bf4f49;
    color: #fff;
    border: none;
    font-size: 14px;
}
.option-block {
    background: #e3e2e4;
    color: #323333;
    font-size: 12px;
    padding-bottom: 12px;
    display: none;
}
.select-item.on {
    border: 2px solid #d79995;
}
.on .option-block {
    display: block;
}
.option {
    text-align: left;
    height: 26px;
    line-height: 26px;
    padding-left: 32px;
    display: block;
    color: #323333;
}
.selected .option {
    background: #be4e48 url("../task_7-assets/select-icon.png") no-repeat 8px 8px;
    color: #fff;
}
.act-block {
    background: #f7f7f7;
}
.act-list {
    margin: 0 auto;
    width: 987px;
    display: flex;
    justify-content: space-between;
    padding: 100px 0 115px;
}
.act-list li {
    width: 219px;
    height: 390px;
    text-align: center;
}
.img-box {
    padding: 14px 8px;
    border: 1px solid #e0e0e0;
    border-bottom: none;
}
.act-list h5 {
    margin: 12px 0 10px;
    color: #323333;
}
.act-list h6 {
    color: #9e9f9f;
    margin: 0;
    font-weight: normal;
}
.act-list li:nth-child(2) h5 {
    font-size: 24px;
    letter-spacing: 27px;
    font-weight: normal;
    padding-left: 15px;
    margin: 0;
}
.act-list li:nth-child(2) .img-box {
    border-bottom: 1px solid #e0e0e0;
}
.act-list li:nth-child(2) h6 {
    margin: 6px 0;
}
.new-world {
    display: flex;
    text-align: center;
}
.nw-img {
    width: 70%;
    background: url("../task_7-assets/nw-img.png") no-repeat top left;
    background-size: cover;
    height: 565px;
    color: #fff;
    position: relative;
}
.info-block {
    width: 30%;
}
.txt-block {
    margin-top: 125px;
}
.txt-block h2 {
    font-size: 50px;
    font-weight: normal;
    margin: 0;
}
.txt-block h1 {
    font-size: 158px;
    font-weight: normal;
    margin: 0 0 30px 0;
    line-height: 0.8;
}
.txt-block h5 {
    font-size: 22px;
    font-weight: normal;
    line-height: 44px;
    margin: 0;
}
.left-arrow {
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right: 25px solid #fff;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
}
.info-block {
    padding-top: 100px;
}
.info-item h5 {
    font-size: 22px;
    color: #323333;
    font-weight: normal;
}
.info-item em {
    color: #e74f4d;
    font-style: normal;
}
.info-item p {
    width: 290px;
    font-size: 12px;
    line-height: 30px;
    color: #aaaaaa;
    margin: 0 auto;
    text-align: left;
}
.info-item .more-btn {
    color: #e25c60;
    width: 106px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #e25c60;
    margin: 50px auto 0;
    display: block;
}
.index-list {
    margin: 24px auto 0;
    width: 62px;
    display: flex;
    justify-content: space-between;
}
.index-item {
    width: 12px;
    height: 12px;
    border: 1px solid #919292;
    border-radius: 50%;
}
.index-item.on {
    background: #919292;
}
.new-times {
    display: flex;
    height: 520px;
    text-align: center;
}
.nt1, .nt2 {
    width: 35%;
}
.nt3 {
    width: 30%;
    background: url("../task_7-assets/nt3.png") no-repeat top left;
    background-size: cover;
    position: relative;
}
.nt1 {
    background: #e74f4d;
    color: #fff;
    padding-top: 170px;
}
.nt1 h4, .nt2 h4 {
    font-size: 21px;
    line-height: 30px;
    font-weight: normal;
    font-family: "黑体";
}
.nt1 .divider, .nt2 .divider {
    margin: 24px auto;
}
.nt1 .more-btn, .nt2 .more-btn {
    width: 170px;
    height: 44px;
    line-height: 44px;
    font-size: 21px;
    font-family: "黑体";
    border: 1px solid #fff;
    margin: 0 auto;
}
.nt2 {
    color: #323333;
    padding-top: 170px;
}
.nt2 .more-btn {
    color: #e74f4d;
    border: 1px solid #e74f4d;
}
.nt2 .divider {
    background: #aaaaaa;
}
.right-arrow {
    border: 15px solid transparent;
    border-left: 24px solid #fff;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
}
.join-form {
    margin: 116px auto 166px;
    width: 1000px;
}
.join-form h3 {
    text-align: center;
    font-size: 21px;
    color: #323333;
    font-family: "黑体";
    margin: 0;
}
.join-form .divider {
    background: #ea6563;
}
.join-form .info {
    color: #aaaaaa;
    text-align: center;
    margin: 0 auto;
}
.join-form .wrapper {
    margin-top: 104px;
    overflow: hidden;
}
.join-form .left {
    width: 290px;
    float: left;
}
.join-form .right {
    width: 658px;
    float: right;
    margin-right: -18px;
}
.article h6 {
    font-size: 14px;
    color: #666160;
    margin: 0;
}
.article p {
    margin-top: 20px;
    font-size: 12px;
    color: #a5a3a2;
    line-height: 21px;
}
.article {
    margin-bottom: 30px;
    overflow: hidden;
}
.article .more {
    float: right;
    font-size: 12px;
    color: #a5a3a2;
    background: url("../task_7-assets/down-arrow.png") no-repeat left 7px;
    padding-left: 16px;
}
.join-form input {
    width: 310px;
    height: 40px;
    color: #231815;
    padding: 14px;
    background: #ededef;
    margin: 0 18px 15px 0;
    border: none;
    float: left;
}
.join-form input::placeholder {
    color: #231815;
}
.join-form textarea {
    width: 640px;
    height: 120px;
    border: none;
    background: #ededef;
    color: #231815;
    margin-bottom: 15px;
    padding: 8px 16px;
    box-sizing: border-box;
}
.join-form input[type="submit"] {
    width: 100%;
    font-size: 14px;
    color: #323333;
    line-height: 40px;
    padding: 0;
}
.contact {
    height: 360px;
    text-align: center;
    background: #32353e;
    color: #fff;
}
.contact h3 {
    font-size: 21px;
    font-family: "黑体";
    padding-top: 90px;
    font-weight: normal;
    margin: 0;
}
.contact .info {
    font-size: 12px;
    font-family: "宋体";
    line-height: 18px;
    margin: 8px 0 28px;
}
.input-block {
    width: 512px;
    margin: 0 auto;
    height: 40px;
    overflow: hidden;
}
.email-input {
    width: 430px;
    height: 40px;
    background: #fff;
    float: left;
    padding-left: 8px;
    font-size: 14px;
}
.email-input::placeholder {
    color: #aaaaaa;
}
.submit-btn {
    width: 80px;
    height: 40px;
    background: #6f7278;
    color: #fff;
    font-size: 15px;
    float: left;
    border: none;
}
.social-contact {
    width: 182px;
    margin: 36px auto 70px;
    display: flex;
    justify-content: space-between;
}
.social-contact span {
    width: 30px;
    height: 30px;
}
.qq {
    background: transparent url("../task_7-assets/qq.png") no-repeat top left;
}
.weibo {
    background: transparent url("../task_7-assets/weibo.png") no-repeat top left;
}
.twitter {
    background: transparent url("../task_7-assets/twitter.png") no-repeat top left;
}
.global {
    background: transparent url("../task_7-assets/global.png") no-repeat top left;
}
footer {
    height: 56px;
    background: #2f2f38;
}
footer .wrapper {
    width: 1142px;
    margin: 0 auto;
    color: #fff;
    height: 56px;
    line-height: 56px;
}
.top {
    float: right;
}